@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

html {
  background-color: rgb(245, 245, 245);
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 15px;
  margin-bottom: 10px;
}

#all-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 10px;
}

.modal {
  height: 350px;
  width: 450px;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-modal {
  width: 70vw;
  height: 60vh;
  padding: 20px;
  align-items: center;
  text-align: end;
}

i:hover {
  cursor: pointer;
}

/* container for progress bars in modal */
#progress-container {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

/* login form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* login input */
input {
  background-color: rgb(230, 230, 230);
  padding: 0.75em;
  border: none;
  width: 200px;
  border-radius: 0.3em;
}

input:focus {
  outline: 1px solid rgb(175, 175, 175);
  box-shadow: rgba(128, 130, 122, 0.2) 0px 7px 15px;
}

/* menu buttons and login buttons */
button {
  padding: 0.5em 0;
  border-radius: 0.3em;
  border: 1px solid rgb(175, 175, 175);
  color: rgb(70, 70, 70);
  background-color: rgb(150, 150, 150);
}

button:hover {
  box-shadow: rgba(128, 130, 122, 0.2) 0px 7px 15px;
  cursor: pointer;
}

#menu > button {
  width: 80px;
  border: 1px solid rgb(20, 20, 20);
}

#toggle-signin-button {
  color: rgb(230, 230, 230);
  background-color: rgb(80, 80, 80);
}

#signup-button {
  background-color: rgb(200, 200, 200);
}

#login-buttons-container {
  display: flex;
  width: 220px;
  gap: 10px;
}

#cancel-button {
  background-color: rgb(245, 245, 245);
}

/* login and cancel buttons in modal */
#login-buttons-container > button {
  width: 50%;
}

/* regular card (not card details) */
.card {
  width: 250px;
  box-shadow: 2px 4px 13px lightgray;
  border-radius: 13px;
  cursor: pointer;
}

/* container for viewing single card larger along with progress details */
.card-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* single card shown larger along with progress details */
.card-detailed {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 1.2em;
}

/* menu icon for opening progress modal */
.bi-bar-chart-line-fill {
  font-size: 23px;
  color: #97becc;
}

/* 'X' icon for closing modals */
.bi-x-lg {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* animation filling progress bars with color */
@keyframes barGrow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
